@import "../../node_modules/bulma/bulma.sass";
@import "variables";
@import "components/texts";

@import "components/button.scss";
@import "components/menu";
@import "components/content";

@import "components/footer";

body {
  margin: 0;
}
.container{
  max-width: 1440px;
  width: 100%;
}

